<!DOCTYPE html>
<html style="height:100%">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<script type="text/javascript" src="js/a.js"></script>
	<script type="text/javascript" src="js/a_css.js"></script>
	<link rel="stylesheet" href="css/style.css" />
	<script src="js/jquery-2.1.3.min.js"></script>
	<script src="js/jquery.tap.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/servies/forPay.js"></script>
</head>
<body ng-app='forPay' ng-controller="forPayCtr"  style="height:100%">
	<div class="for-pay-warp">
		<div class="nav f34px">
			<button id="backBtn"></button>
			我的订单
		</div>
		<div class="nav-filter">
			<div ng-click="viewAllDis()">全部</div>
			<div ng-click="viewAll(0)">待付款</div>
			<div ng-click="viewAll(1)">待发货</div>
			<div ng-click="viewAll(2)">待收货</div>
			<div class="nobor" ng-click="viewAll(3)">待评价</div>
		</div>
		<div class="pay-warp" ng-repeat='orderDate in orderDates2' ng-show="allDis">
			<span class="pay-for-pay-order pay-status">未支付</span>
			<span class="pay-for-pay-order">订单编号:</span>
			<span class="pay-for-pay-order-detail">{{orderDate.shopOrdId}}</span><br>
			<span class="pay-for-pay-order">下单时间:</span>
			<span class="pay-for-pay-order-detail">{{orderDate.adddate}}</span>
			<hr>
			<div class="pay-list-item" ng-click="viewOrder(orderDate.shopOrderId)">
				<img class="pay-list-item-img" src="">
				<img class="pay-list-item-img" src="">
				<img class="pay-list-item-img" src="">
				<span class="for-pay-warp-item-info">一个包裹（{{orderDate.number}}件商品）<div class="btn"></div></span>
			</div>
			<hr class="hr2">
			<div class="pay-for-pay-total-price">
				合计：<span>￥{{orderDate.price}}</span>
				<button class="pay-for-pay-total-button" ng-click="cancel(orderDate.shopOrderId)">取消订单</button>
				<button class="pay-for-pay-total-button button2" ng-click="toPay($index)">去支付</button>
			</div>
		</div>
		<div class="pay-warp" ng-repeat='orderDate in orderDates' ng-if="orderDate.state==viewCtr">
			<span class="pay-for-pay-order pay-status">未支付</span>
			<span class="pay-for-pay-order">订单编号:</span>
			<span class="pay-for-pay-order-detail">{{orderDate.shopOrdId}}</span><br>
			<span class="pay-for-pay-order">下单时间:</span>
			<span class="pay-for-pay-order-detail">{{orderDate.adddate}}</span>
			<hr>
			<div class="pay-list-item" ng-click="viewOrder(orderDate.shopOrderId)">
				<img class="pay-list-item-img" src="">
				<img class="pay-list-item-img" src="">
				<img class="pay-list-item-img" src="">
				<span class="for-pay-warp-item-info">一个包裹（{{orderDate.number}}件商品）<div class="btn"></div></span>
			</div>
			<hr class="hr2">
			<div class="pay-for-pay-total-price">
				合计：<span>￥{{orderDate.price}}</span>
				<button class="pay-for-pay-total-button" ng-click="cancel(orderDate.shopOrderId)">取消订单</button>
				<button class="pay-for-pay-total-button button2" ng-click="toPay($index)">去支付</button>
			</div>
		</div>
		<div class="footnav">
			<div class="foot-nav-btn">
			</div>
			<div class="foot-nav-btn ico1">
			</div>
			<div class="foot-nav-btn ico2">
			</div>
			<div class="foot-nav-btn ico3">
			</div>
		</div>
	</div>
	<script>
	$("#backBtn").tap(function(){
		window.location.href="personal.html"
	})
	</script>	
</body>
</html>