<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<script type="text/javascript" src="js/a.js"></script>
	<script type="text/javascript" src="js/a_css.js"></script>
	<link rel="stylesheet" href="css/style.css" />
	<script src="js/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="js/jquery.tap.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
</head>
<body>
<div class="centerfix">
	<div class="item-nav" ng-app='itemNav'>
		<div class="header">
			<div class="btn1"></div>
			<div class="search">
				<div class="search-ico"></div>
				<input class="search-text search-text-searchfix f26px" type="text" ng-blur="goSearch()"  placeholder="搜索商品名/症状/疾病名" />
			</div>
			<div class="QRcode"></div>
		</div>
		<div class="content" ng-controller="itemNavClassCtr">
			<div class="slide fl">
				<div class="navbtn" ng-repeat='datas in datas' ng-if="datas.shopItemClassId==0" ng-click="finditem(datas.id)">
					<img class="ico" src="images/nav-ico-1.png" class="ico">
					<span class="til f20px">{{datas.name}}</span>
				</div>
				<!-- <div class="navbtn">
					<img class="ico" src="images/nav-ico-1.png" class="ico">
					<span class="til f20px">药品专区</span>
				</div>
				<div class="navbtn">
					<img class="ico" src="images/nav-ico-1.png" class="ico">
					<span class="til f20px">药品专区</span>
				</div>
				<div class="navbtn">
					<img class="ico" src="images/nav-ico-1.png" class="ico">
					<span class="til f20px">药品专区</span>
				</div>
				<div class="navbtn">
					<img class="ico" src="images/nav-ico-1.png" class="ico">
					<span class="til f20px">药品专区</span>
				</div>
				<div class="navbtn">
					<img class="ico" src="images/nav-ico-1.png" class="ico">
					<span class="til f20px">药品专区</span>
				</div> -->
			</div>
			<div class="section fl">
				<div class="part-box">
					<!-- <div class="til f24px">
						家庭常备
					</div> -->
					<div class="item">
						<div class="item-box" ng-repeat="datasb in itemList">
							{{datasb.name}}
						</div>
						<!-- <div class="item-box">
							中暑
						</div>
						<div class="item-box">
							中暑
						</div>
						<div class="item-box">
							中暑
						</div>
						<div class="item-box">
							中暑
						</div>
						<div class="item-box">
							中暑
						</div>
						<div class="item-box">
							中暑
						</div> -->
					</div>
				</div>
				<!-- <div class="part-box">
					<div class="til f24px">
						家庭常备
					</div>
					<div class="item">
						<div class="item-box">
							中暑
						</div>
						<div class="item-box">
							中暑
						</div>
						<div class="item-box">
							中暑
						</div>
						<div class="item-box">
							中暑
						</div>
						<div class="item-box">
							中暑
						</div>
						<div class="item-box">
							中暑
						</div>
						<div class="item-box">
							中暑
						</div>
					</div>
				</div> -->
				
			</div>	
			
		<div class="footnav">
			<div class="foot-nav-btn">
			</div>
			<div class="foot-nav-btn ico1">
			</div>
			<div class="foot-nav-btn ico2">
			</div>
			<div class="foot-nav-btn ico3">
			</div>
		</div>
	</div>	
	<div class="back-btn">
		点击返回
	</div>
</div>
	<script type="text/javascript" src="js/servies/itemNav.js"></script>
	<script type="text/javascript">
		$(".back-btn").tap(function(){
			window.location.href=window.history.back(-1)
		})
	</script>
</body>
</html>