<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<script type="text/javascript" src="js/a.js"></script>
	<script type="text/javascript" src="js/a_css.js"></script>
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/switchery.min.css" />
	<script type="text/javascript" src="js/switchery.min.js"></script>
	<script src="js/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="js/jquery.tap.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/servies/search-item.js"></script>
	<style type="text/css">
	.class-active{
		background: #fff !important;
	}
	.class-select{
		color: #E00B0B !important;
	}
	.fliter-select{
		color: #139be8
	}
	</style>
</head>
<body ng-app='searchItem'>
<div class="centerfix">
	<div class="search-no shop-item-search" ng-controller='searchItemCtr'>
		<div class="shop-item-search-bg">
		</div>
		<div class="header">
			<div class="btn1" id="back-btn"></div>
			<div class="search ">
				<div class="search-ico"></div>
				<input class="search-text f24px" id="searchInput" type="text" ng-model='searchValue' ng-keyup="searchAjax(searchValue)" placeholder="感冒（1105）" />
			</div>
			<div class="QRcode"></div>
		</div>
		<div class="nav-filter f24px">
			<div class="arrow" ng-cloak ng-click='viewclass()'>{{maintitle}}</div>
			<div class="classwarp" ng-show="list1" ng-click="viewclass()">
				<div class="arrlist1" ng-show="list1">
					<ul>
						<li  ng-repeat='datas in searchClassNav' ng-if='datas.shopItemClassId==0' ng-click="finditem(datas.id);$event.stopPropagation()" ng-cloak>
							{{datas.name}}
						</li>
						<!-- <li>
							透明隐形眼镜
						</li>
						<li>
							透明隐形眼镜
						</li>
						<li>
							透明隐形眼镜
						</li>
						<li>
							透明隐形眼镜
						</li>
						<li>
							透明隐形眼镜
						</li> -->
					</ul>
				</div>
				<div class="arrlist2" ng-show="list2">
					<ul>
						<li class="classSelectLi" ng-click='selectClass(datas2.shopItemClassId,datas2.name,$index);$event.stopPropagation();'  ng-repeat='datas2 in itemList2' ng-cloak>
							{{datas2.name}}
						</li>
						<!-- <li>
							透明隐形眼镜
						</li>
						<li>
							透明隐形眼镜
						</li>
						<li>
							透明隐形眼镜
						</li>
						<li>
							透明隐形眼镜
						</li>
						<li>
							透明隐形眼镜
						</li> -->
					</ul>
				</div>
			</div>
			<div class="arrow zhpxfix" ng-click="rankClass()">{{maintile2}}</div>
				<div class="rankClass" ng-show="rankshow" ng-click="rankClass()">
					<div class="arrlist3">
						<ul>
							<li class="classSelectLi2" ng-click="selectClass2('0','综合排序');$event.stopPropagation();">
							综合排序
							</li>
							<li class="classSelectLi2" ng-click="selectClass2('1','销量排序');$event.stopPropagation();">
								销量排序
							</li>
							<li class="classSelectLi2" ng-click="selectClass2('2','好评排序');$event.stopPropagation();">
								好评排序
							</li>
							<!-- <li>
								价格排序
							</li>
							<li>
								价格降序
							</li>
							<li>
								最新上架
							</li> -->
						</ul>
					</div>
				</div>
			<!-- <div>列表</div> -->
			<!-- <div class="nobor" ng-click="filterShow()">筛选</div>
				<div class="filterClass" ng-show="filterShowCtr" ng-click="filterShow()">
					<div class="arrlist4">
						<ul>
							<li ng-click='$event.stopPropagation();'>
								<span class='fileterBtn'>只看拓珍自营</span><input type="checkbox" class="js-switch" ng-click="tuozhenSell()" />
							</li>
							<li ng-click='$event.stopPropagation();'>
								<span class='fileterBtn'>只看包邮商品</span><input type="checkbox" class="js-switch fileterBtn" ng-click="postfree()" />
							</li>
						</ul>
						<ul>
							<li ng-click="showChiliList();$event.stopPropagation();">
								周期<span class="fliterSelect">全部<img src="images/nav-ico-right.png" height="20" width="10"></span>

							</li>
								<ul class="filterSelector" ng-show="showChiliListShowCtr">
									<li ng-click='showChiliListClass();$event.stopPropagation();' ng-class='{"fliter-select":filterClassCtr}'>类别一</li>
									<li ng-click='showChiliListClass();$event.stopPropagation();' ng-class='{"fliter-select":filterClassCtr}'>类别一</li>
									<li ng-click='showChiliListClass();$event.stopPropagation();' ng-class='{"fliter-select":filterClassCtr}'>类别一</li>
								</ul>
							<li>
								透明隐形眼镜
							</li>
						</ul>
						<ul>
							<li ng-click="$event.stopPropagation();">
								价格
								<input class="priceSel" ng-focus="minfliter()" type="tel">至
								<input class="priceSel" ng-focus="minfliter()" type="tel">
							</li>
							
						</ul>
						<button class="f30px">清除选项</button>
					</div>
				</div> -->
		</div>
		<div class="content search-item-warp">
			<div class="search-item" ng-repeat='searchitemdatas in searchitemdata'>
				<img class="shop-img fl" ng-src="{{searchitemdatas.photo}}"  ng-click="viewDeatil(searchitemdatas.productId)">
				<div class="til f26px fl"  ng-click="viewDeatil(searchitemdatas.productId)" ng-cloak>
					{{searchitemdatas.name}}
				</div>
				<div class="phonepricewarp"  ng-click="viewDeatil(searchitemdatas.productId)">
					<div class="phoneprice fl" ng-if="searchitemdatas.isonsale==1"></div>
					<div class="phoneprice1 fl" ng-if="searchitemdatas.isfreedeliver==1"></div>
					<div class="phoneprice2 fl" ng-if="searchitemdatas.activityState==1"></div>
				</div>
				<div class="price f26px fl" ng-cloak>￥{{searchitemdatas.mallprice}}</div>
				<div class="tip f20px">1200条评论</div>
				<div class="inshopcar" ng-click="addShopCar(searchitemdatas.productId,searchitemdatas.shopId);$event.stopPropagation();"></div>
			</div>
			
		</div>
		<div class="content" ng-show="noresout">
			<img class="noout" src="images/noout.png">
			<!-- <div class="search-no-til f28px">
				猜您需要
			</div>
			<div class="listwarp">
				<div class="list">
					<div class="list-img">
						
					</div>
					<div class="search-no-listwarp-til f22px">
						感冒灵颗粒
					</div>
					<div class="search-no-listwarp-pri f22px">
						￥9.9
					</div>
				</div>
				<div class="list">
					<div class="list-img">
						
					</div>
					<div class="search-no-listwarp-til f22px">
						感冒灵颗粒
					</div>
					<div class="search-no-listwarp-pri f22px">
						￥9.9
					</div>
				</div>
				<div class="list">
					<div class="list-img">
						
					</div>
					<div class="search-no-listwarp-til f22px">
						感冒灵颗粒
					</div>
					<div class="search-no-listwarp-pri f22px">
						￥9.9
					</div>
				</div>
				<div class="list">
					<div class="list-img">
						
					</div>
					<div class="search-no-listwarp-til f22px">
						感冒灵颗粒
					</div>
					<div class="search-no-listwarp-pri f22px">
						￥9.9
					</div>
				</div>
			</div> -->
		</div>
		<div class="shopcar" id="shopCar" style="display:none">
			<div class="num" ng-cloak>{{shopcarNum}}</div>
		</div>
	</div>	
</div>
	<script type="text/javascript">
		$("#back-btn").tap(function(){
     	window.location.href=window.history.back(-1)
      })
	 if (Array.prototype.forEach) {
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

        elems.forEach(function(html) {
          var switchery = new Switchery(html);
        });
      } else {
        var elems = document.querySelectorAll('.js-switch');

        for (var i = 0; i < elems.length; i++) {
          var switchery = new Switchery(elems[i]);
        }
      }

      // Disabled switch
      var disabled = document.querySelector('.js-switch-disabled');
      var switchery = new Switchery(disabled, { disabled: true });

      var disabledOpacity = document.querySelector('.js-switch-disabled-opacity');
      var switchery = new Switchery(disabledOpacity, { disabled: true, disabledOpacity: 0.75 });

      var secondary = document.querySelector('.js-switch-secondary');
      var switchery = new Switchery(secondary, { color: '#fec200', secondaryColor: '#ff8787' });


	</script>
</body>
</html>